@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Open_Sans-normal-400.woff") format('woff');
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/Open_Sans-normal-600.woff") format('woff');
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Open_Sans-normal-700.woff") format('woff');
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Playfair_Display-normal-400.woff") format('woff');
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Playfair_Display-normal-700.woff") format('woff');
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/Playfair_Display-normal-900.woff") format('woff');
  unicode-range: U+0-10FFFF;
}